body{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: black;
     color: white;     
}
.footer{
     color: rgb(124, 124, 124);
     font-size: 12px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     position: fixed;
     text-align: center;
     bottom: 0px;
     left: 50%;
     transform: translate(-50%,-50%);
}
.footer:hover{
     font-size: 14px;
     cursor: pointer;
}
.logo{
     width: 200px;
     /* text-align: center; */
     margin: 0 auto;
     object-fit: cover;
     object-position: center;
}
.title{
     margin: 0px 10px 5px 10px;
}
.text{
     margin-top: 15px;
}
@media (min-width:699px){
     
.header{
     display: flex;
     margin: 5px auto;
}
.searchbox{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.gray{
     color: gray;
}
input{
     background-color: #242424;
     width: 500px;
     margin-top: 10px;
     margin-right: 0px;
     padding: 10px;
     border: none;
     border-radius: 12px 0 0 12px;
     color: white;
     outline: none;
}
input:hover{
     background-color: #303030;
     outline: none;
}
.mb{
     margin-bottom: 5px;
}
button{
     margin-top: 10px;
     margin-right: 0px;
     padding: 10px;
     border-radius: 0 12px 12px 0;
     background-color: #960303;
     color: white;
     border: none;
}
button:hover{
     background-color: red;
     cursor: pointer;
}
.container{
     display: flex;
     width: 700px;
     margin: 20px auto;
     gap: 10px;
     font-size:12px;
}
.hidden{
     display: none;
}
.movLogo{
     border-radius: 14px;
     width: 200px;
     height: 300px;
     object-fit: cover;
}
.errorimg{
     width: 150px;
     margin-top: 20px;
}
.error{
     margin-top: 20px;
     text-align: center;
}
.errormsg{
     color: red;
     font-weight: 500;
     font-size: 20px;
     margin-top: 2px;
     font-style: italic;
}
#suggestion{
     position: absolute;
     top: 1px;
     left: 5px;
     padding: 3px 15px ;
     margin-top: 2px;
     border-radius: 14px;
     font-style: italic;
}
.above8{
     background-color: #165100;
     color: white;
}
.above7{
     background-color: #585900;
}
.above6{
     background-color:rgb(69, 0, 30);
}
.above5{
     background-color:#413500;
}
.bad{
     background-color: rgb(102, 0, 0);
}

.imgBox{
     position: relative;
}
.mt{
     margin-top: 2px;
}
}
@media (max-width:500px){     
.header{
     display: flex;
     margin: 5px auto;
}
.searchbox{
     text-align: center;
}
.gray{
     color: gray;
}
input{
     background-color: #242424;
     width: 500px;
     margin-top: 10px;
     margin-right: 0px;
     padding: 10px;
     border: none;
     border-radius: 12px 0 0 12px;
     color: white;
     outline: none;
}
input:hover{
     background-color: #303030;
     outline: none;
}
.mb{
     margin-bottom: 5px;
}
button{
     margin-top: 10px;
     margin-right: 0px;
     padding: 10px;
     border-radius: 0 12px 12px 0;
     background-color: #960303;
     color: white;
     border: none;
}
button:hover{
     background-color: red;
     cursor: pointer;
}
.container{
     display: flex;
     flex-direction: row;
     margin: 20px auto;
     gap: 10px;
     font-size:10px;
}
.hidden{
     display: none;
}
.movLogo{
     border-radius: 14px;
     margin: 10px auto;
     width: 200px;
     height: 250px;
     object-fit: cover;
}
.errorimg{
     width: 100px;
     margin-top: 20px;
}
.error{
     margin-top: 20px;
     text-align: center;
}
.errormsg{
     color: red;
     font-weight: 500;
     font-size: 14px;
     margin-top: 2px;
     font-style: italic;
}
#suggestion{
     position: absolute;
     top: 15px;
     left: 5px;
     padding: 3px 15px ;
     margin-top: 2px;
     border-radius: 14px;
     font-style: italic;
}
.above8{
     background-color: #165100;
     color: white;
}
.above7{
     background-color: #585900;
}
.above6{
     background-color:rgb(69, 0, 30);
}
.above5{
     background-color:#413500;
}
.bad{
     background-color: rgb(102, 0, 0);
}
.imgBox{
     display: flex;
     position: relative;
     flex-wrap: wrap;
}
.mt{
     margin-top: 2px;
}

}
@media (min-width:499.99px) and (max-width:698.99px){
.header{
     display: flex;
     margin: 5px auto;
}
.searchbox{
     text-align: center;
}
.gray{
     color: gray;
}
input{
     background-color: #242424;
     width: 500px;
     margin-top: 10px;
     margin-right: 0px;
     padding: 10px;
     border: none;
     border-radius: 12px 0 0 12px;
     color: white;
     outline: none;
}
input:hover{
     background-color: #303030;
     outline: none;
}
.mb{
     margin-bottom: 5px;
}
button{
     margin-top: 10px;
     margin-right: 0px;
     padding: 10px;
     border-radius: 0 12px 12px 0;
     background-color: #960303;
     color: white;
     border: none;
}
button:hover{
     background-color: red;
     cursor: pointer;
}
.container{
     display: flex;
     flex-direction: row;
     margin: 20px auto;
     gap: 10px;
     font-size:11px;
}
.hidden{
     display: none;
}
.movLogo{
     border-radius: 14px;
     margin: 10px auto;
     width: 200px;
     height: 300px;
     object-fit: cover;
}
.errorimg{
     width: 100px;
     margin-top: 20px;
}
.error{
     margin-top: 20px;
     text-align: center;
}
.errormsg{
     color: red;
     font-weight: 500;
     font-size: 20px;
     margin-top: 2px;
     font-style: italic;
}
#suggestion{
     position: absolute;
     top: 15px;
     left: 5px;
     padding: 3px 15px ;
     margin-top: 2px;
     border-radius: 14px;
     font-style: italic;
}
.above8{
     background-color: #165100;
     color: white;
}
.above7{
     background-color: #585900;
}
.above6{
     background-color:rgb(69, 0, 30);
}
.above5{
     background-color:#413500;
}
.bad{
     background-color: rgb(102, 0, 0);
}

.imgBox{
     display: flex;
     position: relative;
     flex-wrap: wrap;
}
.mt{
     margin-top: 2px;
}

}